In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
csv_in = 'corona-data.csv'
df = pd.read_csv(csv_in)
print(df.shape)
display(df.head())

(351, 2)

        date  positive_cases
0  2020/1/16               1
1  2020/1/17               0
2  2020/1/18               0
3  2020/1/19               0
4  2020/1/20               0

In [3]:
df["date"] = pd.to_datetime(df["date"])
display(df.head())

        date  positive_cases
0 2020-01-16               1
1 2020-01-17               0
2 2020-01-18               0
3 2020-01-19               0
4 2020-01-20               0

In [4]:
df = df.set_index("date")
display(df.head())

            positive_cases
date
2020-01-16               1
2020-01-17               0
2020-01-18               0
2020-01-19               0
2020-01-20               0

In [8]:
df_week = df.resample("W").mean()
display(df_week.head())
display(df_week.tail())
# value 3158.

            positive_cases
date
2020-01-19        0.250000
2020-01-26        0.428571
2020-02-02        1.142857
2020-02-09        0.428571
2020-02-16        2.142857

            positive_cases
date
2020-12-06     2186.285714
2020-12-13     2516.428571
2020-12-20     2649.571429
2020-12-27     3158.571429
2021-01-03     3597.500000

In [9]:
df["day_of_week"] = df.index.dayofweek
display(df.head())

            positive_cases  day_of_week
date
2020-01-16               1            3
2020-01-17               0            4
2020-01-18               0            5
2020-01-19               0            6
2020-01-20               0            0

In [ ]:
wday_list = ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
weekend = wday_list[-2:]